@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Overpass+Mono:wght@300;700&family=Roboto&family=Zen+Maru+Gothic:wght@300&display=swap');


* {
    font-family: 'Overpass Mono', monospace;
    font-size: 1.2rem;
}


#gridContainer {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    max-width: 650px;
    
}

button {
    width: 100%;
    text-align: left;
    border: 1px soild black;
}

button:hover {
    color: rgb(99, 99, 99);
}
button:active {
    color: rgb(255, 255, 255);
}


#menu {
    width: 25%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



#grid {
    display: grid;
    aspect-ratio: 1 / 1;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    padding: 0px;
    
    width: 90%;
    border-radius: 5%;
    border: 1px solid black;
    background-color: white;

}

.grid-element {
    user-select: none;
    border: 1px solid rgb(239, 239, 239);
  }

h1 {
    text-align: center;
    font-size: 2rem;;
}

.circles {
    aspect-ratio: 1 / 1;
    width: 15%;
    border: 1px solid black;
    border-radius: 100%;
    background-color: black;
}

#circles {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

#etch {
    display: flex;
    width: 90%;
    aspect-ratio: 1 / 1;

    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 42, 0);

    margin: 3%

}